@use '../../styles/vars.scss' as v;

//CSS for deskptop version
.parcours-container {
    width: 100%;
    background-color: v.$bg-primary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: v.$margin-bottom;

    .description {
        width: 50%;
        padding: 5em;
    }

    article {
        margin-top: 3em auto;
        color: v.$bg-secondary-color;
        font-size: 2em;
        line-height: 2.2em;
        font-weight: 300;
    }

    p{
        margin-bottom: v.$padding;
    }

    a {
        text-decoration: underline;
        color: v.$bg-secondary-color;
    }

    span {
        font-size: 0.8em;
        font-weight: 300;
    }

    .illustration{
        width: 50%;
        background-image: url('../../assets/images/clement-helardot-medium-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 865px) {
    .parcours-container {
        display: flex;
        flex-direction: column-reverse;

        .description {
            width: 60%;
            padding: 5em;
            margin: auto;

            article {
                font-size: 1.5em;
                line-height: 1.4em;
                font-weight: 300;
            }

            .parcours-footer {
                margin-top: 25px;
            }
        }

        .illustration{
            width: 100%;
            height: 50vh;
        }
    }
}