@use 'src/styles/vars' as v;

//CSS for Desktop version 
.skills-container {
    width: 100%;
    height: 60vh;
    background-color: v.$bg-secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-bottom: v.$margin-bottom;
    padding: v.$padding;

    .skills-logos {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: v.$padding;
        border: 1px solid v.$bg-primary-color;
        margin: 20px;
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;

        &_html {
            background-image: url('../../assets/images/logos/HTML5.png');
        }
        &_css {
            background-image: url('../../assets/images/logos/CSS.png');
        }
        &_js {
            background-image: url('../../assets/images/logos/JavaScript.png');
        }
        &_sass {
            background-image: url('../../assets/images/logos/Sass.png');
        }
        &_react {
            background-image: url('../../assets/images/logos/react.png');
        }
        &_node {
            background-image: url('../../assets/images/logos/node.png');
        }
        &_express {
            background-image: url('../../assets/images/logos/express.png');
        }
        &_ejs {
            background-image: url('../../assets/images/logos/EJS.png');
        }
        &_postgres {
            background-image: url('../../assets/images/logos/postgres.png');
        }
        :nth-child(odd){
            align-self: flex-end;  
        }
    }

    .bounce-down {
        animation-name: bounce-down;
        animation-delay: 0s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @keyframes bounce-down {
            from {
                margin-top: 0px;
            }
            to {
                margin-top: 30%;
            }
        }
    }

    .bounce-up {
        animation-name: bounce-up;
        animation-delay: 0s;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @keyframes bounce-up {
            from {
                margin-top: 30%;
            }
            to {
                margin-top: 0px;
            }
        }
    }
    .skills-footer {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 3em;
        color: v.$bg-primary-color;
        text-align: right;
    }
}

@media screen and (max-width: 1000px) {
    .skills-container {
        .skills-logos {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin: 10px;
        }
    }
}    

@media screen and (max-width: 865px) {
    .skills-container {
        width: 100%;
        height: 100vh;
        background-color: v.$bg-secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    
        .skills-logos {
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    
        .bounce-down {
            animation-name: bounce-down;
    
            @keyframes bounce-down {
                from {
                    margin-right: 0;
                }
                to {
                    margin-left: 90%;
                }
            }
        }
    
        .bounce-up {
            animation-name: bounce-up;
    
            @keyframes bounce-up {
                from {
                    margin-left: 90%;
                }
                to {
                    margin-right: 0;
                }
            }
        }

        .skills-footer {
            width: 100%;
            position: static;
            bottom: 0px;
            font-size: 3em;
            color: v.$bg-primary-color;
            text-align: center;
            margin: auto;
        }
    }
}  