@use 'src/styles/vars' as v;

//Desktop
.footer-container {
    width: 99%;
    height: 20vh;
    background-color: v.$bg-primary-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 8px;
    padding-bottom: 20px;

    .contacts-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: v.$padding;

        ul {
            margin: 10px 40px 10px 10px;
            line-height: 2em;
            font-size: 1.3em;
            
            li, a {
                color: v.$bg-secondary-color;
                text-decoration: none;
            }
            .contact, .github, .blog {
                background-color: v.$bg-primary-color;
            }
            
            .fa-icon {
                margin-right: 10px;
            }
        }
    }

    .footer-footer {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 3em;
        color: v.$bg-secondary-color;
    }
}

//Responsive CSS
@media screen and (max-width: 830px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        height: fit-content;
                
        .contacts-container{
            flex-direction: column;
            align-items: center;
        
            li, a {
                text-align: center;
                margin: auto;
            }
        }
        .footer-footer{
            width: 100%;
            position: static;
            top: 0;
            font-size: 3em;
            color: v.$bg-secondary-color;
            text-align: center;
            margin: auto;
        }
    }
    
}