@use 'src/styles/vars' as v;

//CSS for desktop version
.sideprojects-container {
    width: 100%;
    background-color: v.$bg-secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: v.$margin-bottom;

    .sideprojects-header {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 3em;
        color: v.$bg-primary-color;
    }

    .cards-container {
        margin: 5em auto 5em 3em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: v.$padding*2;
        margin: 10px;
        margin-bottom: v.$margin-bottom;
        width: 20%;
        border: 1px solid v.$bg-primary-color;
        border-radius: 20px;
        background-color: v.$bg-primary-color;
        color: v.$bg-secondary-color;
        box-shadow:
            0 2.8px 2.7px rgba(0, 0, 0, 0.031),
            0 6.7px 6.5px rgba(0, 0, 0, 0.044),
            0 12.5px 12.3px rgba(0, 0, 0, 0.055),
            0 22.3px 21.9px rgba(0, 0, 0, 0.066),
            0 41.8px 40.9px rgba(0, 0, 0, 0.079),
            0 100px 98px rgba(0, 0, 0, 0.11);
        
        &-title {
            font-size: 2em;
            margin-bottom: 10px;
        }

        &-img {
            margin: 0 auto 10px;
            width: 70%;
        }

        &-description {
            line-height: 1.5em;
            margin-bottom: 10px;
        }

        &-link {
            text-decoration: underline;
            color: v.$bg-green;
            margin-bottom: 10px;
            align-self: center;
        }
    }
    .card:hover{
        color: v.$bg-primary-color;
        background-color: v.$bg-secondary-color;
        transition-duration: 1s;
        transform: scale(1.05);
    }
}

//Reponsive CSS
@media screen and (max-width: 1000px) {
    .sideprojects-container{
        .card{
            width: 40%;
        }
    }
}

@media screen and (max-width: 765px) {
    .sideprojects-container{
        display: flex;
        flex-direction: column;

        
        .sideprojects-header{
            position: static;
            width: 100%;
            bottom: 10px;
            text-align: center;
            margin: auto;
        }

        .cards-container {
            margin-top: 5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: auto;
        }

        .card{
            width: 70%;
        }
    }
}
